*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    border:6px solid crimson;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.item-box{
    font-size: 36px;
    text-align: center;
    border: 6px solid rgb(96, 5, 243);
}