*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    border: 1px solid hotpink;
} 

.item{
    border: 2px solid blueviolet;
    text-align: center;
}